.nav-row {
    justify-content: space-between;
}

.dark-mode-btn {
    order: 0;
}

/* General */

.section {
    padding: 40px 0;
}

.title-1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.title-2 {
    margin-bottom: 10px;
    font-size: 30px;
}